// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.singlePost {
	padding: 10px;
	background-color: #e4e6fb;
	border: 1px solid #a2aaf0;
	border-radius: 6px;
}

.postBody {
	word-wrap:break-word;
	width: 99%;
	height: 100px;
}

.datetimeHidden {
	display: none;
}